*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firsty{
    margin-bottom: 15px;
   
}

.abob{
    width: 90px;
    height: 25px;
    margin-left: 5px;
}

.seconly{
    width: 500px;
    height: 500px;
    border: 1px solid red;
}

.abob{
    margin-top: 1px;
    margin-bottom: 5px;
}

.abob5{
    margin-top: 11px;
    width: 75px;
    border-radius: 15px;
}

